#scrollToggle {
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: none;
    transition-timing-function: ease-in;
    transition: 2s;
}

#subscribe-input:focus {
    border: 2px solid gray;
}